// Place all the styles related to the Request controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 360px;
  display: none;
}

th, td {
  display: contents;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  background-color: #8b9297;
  background-image: linear-gradient(180deg, #8b9297, #484d51);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
}


.input_matrix_button {
  border-radius: 50%
}
