// Place all the styles related to the Request controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#input_map {
  display: none;
}

#map {
  height: 500px;
  width: 1000px;
}

th, td {
  display: contents;
}

td, tr input[type="text"] {
  width: 15px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.input_matrix_button {
  background-image: linear-gradient(180deg, #8b9297, #484d51);
  color: white;
}

.input_matrix_button_header {
  background-image: linear-gradient(180deg, #ffffff, #ffffff);
  color: black;
}

